.wrapper-scrollTip{
	height:38px;
	overflow:hidden;
	margin:10px 0px;
}
.list-scrollTip{
	transform: translateY(0px);
	transition: all .5s;
}
.item-scrollTip{
	height:38px;
	line-height:38px;
	text-align:center;
	color:red;
	font-size:14px;
}